/* You can add global styles to this file, and also import other style files */
.custom-chip-1 {
  background-color: rgba(255, 0, 242, 0.2) !important;
}

.custom-chip-2 {
  background-color: rgba(47, 0, 255, 0.2) !important;
}

.custom-chip-3 {
  background-color: rgba(255, 230, 0, 0.2) !important;
}

.custom-chip-area-1 {
  background-color: #d89f033d !important;
}

.custom-chip-area-2 {
  background-color: #66be133d !important;
}

.custom-chip-area-3 {
  background-color: #1b697c36 !important;
}

.custom-chip-area-4 {
  background-color: #d4c9ab49 !important;
}

.custom-chip-area-5 {
  background-color: #0466e749 !important;
}

.custom-chip-area-6 {
  background-color: #b56f4f49 !important;
}

.custom-chip-area-7 {
  background-color: #b535353a !important;
}

.custom-chip-area-8 {
  background-color: #9cb8404b !important;
}
